*
!.gitignore
!LICENSE
!README.md
!avatar.png
!AGENTS.md
!apm.yml
!apm.lock.yaml
!apm-policy.yml
!plugin.json
!agents/
!agents/*.md
!agents/*.agent.md
!skills/
!skills/**

# APM generated & caches
apm_modules/
.apm/
build/
dist/
